<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:name=".BlofyApp"
        android:allowBackup="true"
        android:banner="@drawable/blofy_tv_banner"
        android:icon="@drawable/ic_blofy_app"
        android:label="BLOFY PLAYER"
        android:supportsRtl="true"
        android:theme="@style/Theme.Blofy">

        <activity android:name=".ui.details.SeriesDetailsActivity" android:exported="false" />
        <activity android:name=".ui.details.MovieDetailsActivity" android:exported="false" />
        <activity android:name=".ui.library.RecentChannelsActivity" android:exported="false" />
        <activity android:name=".ui.library.LibraryActivity" android:exported="false" />
        <activity android:name=".ui.search.SearchActivity" android:exported="false" />
        <activity android:name=".ui.settings.SettingsActivity" android:exported="false" />
        <activity android:name=".ui.series.EpisodesActivity" android:exported="false" />
        <activity android:name=".ui.browser.ContentBrowserActivity" android:exported="false" />
        <activity android:name=".ui.playlist.ProviderManagerActivity" android:exported="false" />
        <activity android:name=".ui.playlist.PlaylistActivity" android:exported="false" />

        <activity
            android:name=".ui.player.PlayerActivity"
            android:exported="false"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
